.card {
  width: fit-content;
  height: auto;

  box-shadow: 10px 0px 30px;
  border: 1px solid rgba(331, 80, 57, .2);

  margin-bottom: 30px;
  border-radius: 10px;

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    gap: 4px;

    justify-items: center;
    align-items: center;

    background-color: transparent;
    
    font-size: 24px;

    height: 620px;
    width: 516px;

    .letters {
      font-weight: 900;
      font-size: 32px;
      color: white;
      opacity: 0.6;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;

    padding: 0 20px;

    height: 50px;

    span {
      font-weight: 500;
      font-size: 15px;
      color: #f7fbff;
    }
  }
}
