.container {
    display: flex;

    height: 100%;
    width: 100%;
}

.containerLeft {
    @media only screen and (max-width: 992px) {
        display: none;
    }

    height: 100%;
    width: 80%;
    flex: 1 0 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;

    #openMind {
        width: 30%;
        min-width: 24rem;
    }

    #opusLogo {
        position: absolute;
        bottom: 4.8rem;
        width: 9rem;
    }

    #shape1 {
        position: absolute;
        top: 6%;
        right: 6%;
        width: 15%;
        max-height: 17rem;
        filter: hue-rotate(25deg);
        animation: anima2 17s ease-out infinite alternate;
    }

    #shape2 {
        position: absolute;
        top: 10%;
        right: 40%;
        width: 5%;
        max-height: 17rem;
        filter: hue-rotate(25deg);
        animation: anima1 15s ease-out infinite alternate;
    }

    #shape3 {
        position: absolute;
        top: 50%;
        right: 15%;
        width: 12%;
        max-height: 17rem;
        filter: hue-rotate(25deg);
        animation: anima2 22s ease-out infinite alternate;
    }

    #shape4 {
        position: absolute;
        bottom: 25%;
        right: -2%;
        width: 6%;
        filter: hue-rotate(0deg);
        animation: anima1 21s ease-out infinite alternate;
    }

    #shape5 {
        position: absolute;
        bottom: 0%;
        right: 20%;
        width: 14%;
        filter: hue-rotate(25deg);
        animation: anima4 17s ease-out infinite alternate;
    }

    #shape6 {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 25%;
        filter: hue-rotate(25deg);
    }

    #shape7 {
        position: absolute;
        bottom: 6%;
        left: 20%;
        width: 10%;
        filter: hue-rotate(25deg);
        animation: anima1 16s ease-out infinite alternate;
    }

    .shapeGroup {
        position: absolute;
        left: 5%;
        bottom: 20%;
        width: 20%;
        height: 20%;

        #shape8 {
            position: absolute;
            z-index: 1;
            left: 0%;
            bottom: 0%;
            width: 50%;
            filter: hue-rotate(25deg);
        }

        #shape81 {
            position: absolute;
            z-index: 15;
            left: 12%;
            bottom: 25%;
            filter: hue-rotate(25deg);
            animation: anima3 5s ease-out infinite alternate;
        }

        #shape82 {
            position: absolute;
            z-index: 3;
            left: 0%;
            bottom: 0%;
            width: 50%;
            filter: hue-rotate(25deg);
        }
    }

    #shape9 {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 15%;
        filter: hue-rotate(25deg);
        animation: anima2 25s ease-out infinite alternate;
    }

    @keyframes anima1 {
        0% {
            transform: translate(0%, 0%);
        }
        25% {
            transform: translate(5%, 10%);
        }
        50% {
            transform: translate(10%, 5%);
        }
        100% {
            transform: translate(-5%, -10%);
        }
    }

    @keyframes anima2 {
        0% {
            transform: translate(0%, 0%);
        }
        25% {
            transform: translate(-5%, -10%);
        }
        50% {
            transform: translate(-15%, -10%);
        }
        100% {
            transform: translate(10%, -15%);
        }
    }

    @keyframes anima3 {
        0% {
            transform: translate(0%, 0%);
        }
        25% {
            transform: translate(-2%, -3%);
        }
        50% {
            transform: translate(-5%, -2%);
        }
        100% {
            transform: translate(2%, -5%);
        }
    }

    @keyframes anima4 {
        0% {
            transform: translate(0%, 0%);
        }
        25% {
            transform: translate(-2%, 0%);
        }
        50% {
            transform: translate(-5%, 0%);
        }
        100% {
            transform: translate(2%, 0%);
        }
    }
}

.containerRight {
    @media only screen and (min-width: 992px) {
        width: 30%;

        color: #404f5d;

        .header {
            h1 {
                color: #404f5d;
                font-size: 48px;
                font-weight: 700;
            }

            h2 {
                color: #7a848e;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        width: 100%;

        background-image: url("./images/background.png");
        background-size: cover;
        background-position: center center;

        color: white;

        .label {
            color: white !important;
        }

        .header {
            h1 {
                color: white;
                font-size: 48px;
                font-weight: 700;
            }

            h2 {
                color: white;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    padding: 50px !important;
}
