.container {
    display: flex;

    height: 100%;
    width: 100%;
}

.containerLeft {
    @media only screen and (max-width: 992px) {
        display: none;
    }

    height: 100%;
    width: 80%;
    flex: 1 0 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.containerRight {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 992px) {
        width: 30%;
        justify-content: space-between;

        color: #404f5d;

        .header {
            h1 {
                color: #404f5d;
                font-size: 48px;
                font-weight: 700;
            }

            h2 {
                color: #7a848e;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        justify-content: center;

        width: 100%;

        background-image: url("./images/backgroundClean.png");
        background-size: cover;
        background-position: center center;

        .label {
            color: rgba(31, 47, 12, 0.8) !important;
        }

        .header {
            h1 {
                color: rgba(31, 47, 12, 0.8);
                font-size: 48px;
                font-weight: 700;
            }

            h2 {
                color: rgba(31, 47, 12, 0.8);
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    
    height: 100%;
    padding: 50px !important;
}
