//Login customization
$btn-login-focus: #FC3A16;
$btn-login-hover: #8F210C;
$btn-login-active: #FC3A16;
$input-login-border: #FF8F00;

//Game board customization
$board: #BA2311;
$menu: #BA2311;
$marked: #80180C;