//Login customization
$btn-login-focus: #D22449;
$btn-login-hover: #af1d3c;
$btn-login-active: #ed2450;
$input-login-border: #F8B62A;

//Game board customization
$board: #b91f38;
$menu: #b91f38;
$marked: #7b172c;
