@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  @include center;

  background-color: #FEFDE6;
  width: 100px;
  height: 100px;
}

.marked {
  @include center;

  background-color: #dddddd;
  width: 90px;
  height: 90px;
  transition: background-color ease-in-out 200ms;

  border-radius: 50%;
}