.content {
    position: fixed;

    width: 100%;
    height: 100%;

    background-image: url("../../shared/images/backgroundClean.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .container {
        display: flex;

        overflow-y: auto;

        flex-flow: column;
        justify-items: center;
        align-items: center;

        width: 100%;
        height: 100%;

        .padding {
            padding: 15px;
        }
    }
}
